<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Payment Success</title>
  <link rel="stylesheet" href="/stylesheets/payment.css">
</head>
<body>
  <h1>Payment Successful!</h1>


  <a href="/userdashboard">Back to Dashboard</a>
</body>
</html>
