body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

section {
    height: 100%;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fffff5;
    font-size: 30px;
    margin-bottom: 10%;
    font-family: 'cmu-serif', serif;
}

.header h2 {
    color: #fffff5;
    font-size: 40px;
    font-family: 'cmu-serif', serif;
    font-weight: 300;
    margin: 0 0 0px 0;
    padding: 0;
    line-height: 1.1;
}
.subtitle {
            font-size: 15px;
            color: #ffffff;
            margin-bottom: 3rem;
            font-weight: 300;
            font-family: poppins, sans-serif;
            letter-spacing: 1px;
            text-align: left;
}

.input-form {
    width: 67%;
    color: #d0d1d8;
}

.input-form form {
    display: flex;
    flex-direction: column;
}

.input-columns {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.input-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-group label {
    margin-bottom: 8px;
}

.input-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #101b0d;
    color: #fffff5;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
}

button:hover {
    background-color: #172513;
}

a {
    text-decoration: underline;
    color: #fffff5;
}